@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.cliente-data-form {
    background: linear-gradient(180deg, rgb(166, 225, 250) 0%, rgb(10, 36, 114) 100%);
    background-color: rgba(255, 255, 255, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.cliente-data-header {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.cliente-back-button {
    background-color: #0a2472;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cliente-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cliente-title {
    color: #0074e4;
    margin: 0;
    padding: 0 30px;
}

.cliente-form-group {
    margin-bottom: 5px;
    width: 100%;
}

.cliente-continue-button {
    background-color: #0a2472;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
}
