*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  background-image: url('./assets/img-cabecalho.png');
  background-size: cover;
  width: 100vw;
  height: 60rem;
}

span{
  color: blue;
}

.nav-links{
  display: flex;
  width: 30%;
}

.nav-links li{
  list-style-type: none;
  display: inline;
}

.img-seguros-home{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.img-seguros-home img{
  width: 17rem;
  height: 28rem;
}

.titulos-seguros-home{
  display: flex;
  justify-content: space-evenly;
}

.pedal-essencial-home{
  text-align: center;
  background: #8D5E3F;
  width: 17rem;
}

.pedal-leve-home{
  text-align: center;
  background: #EBEBEA;
  width: 17rem;
}

.pedal-elite-home{
  text-align: center;
  background: #D1C6C2;
  width: 17rem;
}



