*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  background-image: url('./assets/img-cabecalho.png');
  background-size: cover;
  width: 100vw;
  height: 60rem;
}

span{
  color: blue;
}

.nav-links{
  display: flex;
  width: 30%;
}

.nav-links li{
  list-style-type: none;
  display: inline;
}

.img-seguros-home{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.img-seguros-home img{
  width: 17rem;
  height: 28rem;
}

.titulos-seguros-home{
  display: flex;
  justify-content: space-evenly;
}

.pedal-essencial-home{
  text-align: center;
  background: #8D5E3F;
  width: 17rem;
}

.pedal-leve-home{
  text-align: center;
  background: #EBEBEA;
  width: 17rem;
}

.pedal-elite-home{
  text-align: center;
  background: #D1C6C2;
  width: 17rem;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Courier+Prime&family=Fauna+One&family=Inter:wght@500&family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.tela-login{
    font-family: 'Outfit';
    font-weight: lighter;
    background-image: linear-gradient(90deg,#0a2472 0%, #A6e1fa 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10vw auto auto;
    height: 100vh;
}

.logotipo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.titulo-login{
    color: white;
    font-size: 6vw;
    width: 20vw;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    height: 60vh;
    width: 30vw;
}

.login{
    color: #0A2472;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
}

.login-texto{
    font-size: 2vw;
}

.forms{
    display: flex;
    flex-direction: column;
}

.botao-login{
    color: white;
    background-color: #0A2472;
    width: 8vw;
    height: 5vh;
    border: 0;
}

.email{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: solid #0A2472 1px;
    border-radius: 0;
    margin-bottom: 2vh;
}

.password{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: solid #0A2472 1px;
    border-radius: 0;
    margin-bottom: 0.5vh;
}

.esqueceu-senha{
    display: flex;
    width: 20vw;
    justify-content: end;
}


.aba-cadastrar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0A2472;
    color: white;
    height: 60vh;
    width: 20vw;
}

.txt-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5vw;
}

.paragrafo-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1vw;
}

.cadastrar-se{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    background-color: #0A2472;
    border: solid white 2px;
    width: 10vw;
    height: 3vw;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.tela-cadastro{
    font-family: 'Outfit';
    font-weight: lighter;
    background-image: linear-gradient(90deg,#0a2472 0%, #A6e1fa 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10vw auto auto;
    height: 100vh;
}

.logotipo-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.titulo-cadastro{
    color: white;
    font-size: 6vw;
    width: 20vw;
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    background-color: #0A2472;
    height: 60vh;
    width: 30vw;
}

.cadastro{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
}

.cadastro-texto{
    font-size: 2vw;
}

.forms{
    display: flex;
    flex-direction: column;
}

.botao-cadastrar-se{
    color: #0A2472;
    background-color: white;
    width: 8vw;
    height: 5vh;
    border: 0;
}

.name{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: solid #0A2472 1px;
    border-radius: 0;
    margin-bottom: 2vh;
}

.email{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: solid #0A2472 1px;
    border-radius: 0;
    margin-bottom: 2vh;
}

.password{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: solid #0A2472 1px;
    border-radius: 0;
    margin-bottom: 0.5vh;
}

.esqueceu-senha{
    display: flex;
    width: 20vw;
    justify-content: end;
}


.aba-possui-conta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: #0A2472;
    height: 60vh;
    width: 20vw;
}

.txt-1-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5vw;
}

.botao-entrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    background-color: #0A2472;
    border: solid white 2px;
    width: 10vw;
    height: 3vw;
}


