<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detecção de Objetos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Detecção de Objetos</h1>
    <button id="startButton">Iniciar Detecção</button>
    <button id="stopButton" style="display: none;">Parar Detecção</button>
    <div>
        <img id="video" src="" alt="Detecção de objetos">
    </div>
    <canvas id="detectionsCanvas"></canvas>
    <script src="../static/main.js"></script>
</body>
</html>
